<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <form action="{:url('Login/login')}" method="post">
        <input type="hidden" name="__token__" value="{$Request.token}" />
        <div class="form-group">
            <lable>用户名</lable>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            <lable>密码</lable>
            <input type="password" name="psw" class="form-control">
        </div>
        <div class="form-group">
            <lable>验证码</lable>
            <input type="text" name="code" class="form-control">
            <div><img src="{:captcha_src()}" alt="captcha" /></div>
        </div>
        
        <button class="btn btn-primary" type="submit">登录</button>
    </form>
</div>
</body>
</html>